# Telegram Bot
pyTelegramBotAPI[async]

# Crypto Exchange
ccxt[async]

# Database
aiosqlite

# HTTP
aiohttp
aiofiles

# Data Models
pydantic
pydantic-settings

# Cryptography
cryptography

# Utils
python-dotenv
loguru

# Data Processing
pandas
openpyxl

# Kafka
aiokafka
kafka

# Celery
celery

